<ion-content class="fundo" >
  <div >

        
        <ion-menu side="left" [content]="mycontent">
            <ion-content>
              <ion-list>
  
                  <img class="tamanhofoto" [hidden]="!foto" src="{{foto}}">
                  <h1 class="nome nomepaciente barralateral italico">{{ dadosPaciente.nome }}</h1>
  
                  <p class="marge barralateral italico" > Peso: 79kg </p>
                  <p class="marge barralateral italico" > Massa Magra: 30kg </p>
                  <p class="marge barralateral italico" > Massa Gorda: 40kg </p>
                  <p class="marge barralateral italico" > Cintura: 90cm </p>
                  <p class="marge barralateral italico linha" > IMG: 32 </p>
                 
                     
                  <button class="final final3" ion-button block (click)="tirarFoto()">Alterar foto</button>
                  <button class="final final2" ion-button block (click)="removeFoto()">Remover foto</button>
                  <button class="final" ion-button block (click)="sair()">Sair                      </button>      
              </ion-list>
            </ion-content>
          </ion-menu>


          <ion-menu side="right" [content]="mycontent">
              <ion-content>
                <ion-list>
    
                    
                    <h1 class="nome nomepaciente barralateral italico">Evolução</h1>
                    <hr>
                    <p class="marge barralateral italico" > Data: 31/10/2018 </p>
                    <p class="marge barralateral italico" > Peso: 79kg </p>
                    <p class="marge barralateral italico" > Massa Magra: 30kg </p>
                    <p class="marge barralateral italico" > Massa Gorda: 40kg </p>
                    <p class="marge barralateral italico" > Cintura: 90cm </p>
                    <p class="marge barralateral italico" > IMG: 32 </p>
                    <hr>   
                 
                </ion-list>
              </ion-content>
            </ion-menu>

        <ion-nav #mycontent [root]="rootPage"></ion-nav>
        

    


    


   

  
 
    <img class="tamanhofoto" [hidden]="!foto" src="{{foto}}">
      <h2 class="nome nomepaciente">{{ dadosPaciente.nome }}</h2>
        <p *ngIf="existe" class="nome margem">Data Início: {{ data | date: 'dd/MM/yyyy' }}</p>
        <p *ngIf="!existe" class="nome margem"> Não possui consultas. </p>

        <p class="margem cordehistoricotexto"> TEXTO DE EXEMPLO An Alert is a dialog that presents users with information or collects information from the user using inputs. An alert appears on top of the app's content, and must be manually dismissed by the user before they can resume interaction with the app. It can also 
        </p>

    <ion-list>
      <button class="borda" ion-item *ngFor="let item of listaConsultasTodas" (click)="buscaHistorico(item._id, item.historico, item.data, item.titulo)">
          <p class="titulomenu italico">{{item.titulo}}</p> 
      </button>
    </ion-list>

  </div>




</ion-content>
